/* style_for_header */
.header_logo,
.header_menu,
.header_login {
    display: inline-block;
}

.header {
    font-size: 0;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);     
    padding: 20px 0;
    margin-bottom: 17px;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.header_logo {
    width: 150px;
    vertical-align: middle;
}

.header_menu {
    width: calc(100% - 250px);
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
}

.header_menu li {
    display: inline-block;
    margin: 8px 50px 25px 0;
}

.header_menu a {
    text-decoration: none;
    color: #3D3D3D;
}

.header_menu a.active {
    border-bottom: 2px solid #46A358;
    font-weight: bold;
}

.header_login {
    width: 100px;
    vertical-align: middle;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    background: #46A358;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    border: 2px solid #46A358;
}

.header_login:hover {
    color: #46A358;
    background: #FFFFFF;
}
/* end_style_for_header */

/* style_for_visual_main */
.visual_main {
    font-size: 0;
    background: #F5F5F580;
}

.visual_text {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.visual_text h2 {
    font-size: 14px;
    color: #3D3D3D;
    text-transform: uppercase;
}

.visual_text h1 {
    font-size: 70px;
    color: #3D3D3D;
    text-transform: uppercase;
    font-weight: 900;
}

.green {
    color: #46A358;
}

.visual_text p {
    font-size: 14px;
    color: #727272;
}

.visual_text a {
    font-size: 16px;
    color: #FFFFFF;
    background: #46A358;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    width: 140px;
    padding: 11px;
    border: 2px solid #46A358;
}

.visual_text a:hover {
    color: #46A358;
    background: #FFFFFF;
}

.visual_img {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

/* end_style_for_visual_main */

/* style_for_registration */
.auth-links a {
    font-size: 20px;
    font-weight: 500;
    color: #3D3D3D;
    text-decoration: none;
}

.auth-links a+a {
    color: #46A358;
}

.enter-data {
    font-size: 13px;
    font-weight: 400;
    color: #3D3D3D;
}

input {
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    color: #A5A5A5;
    padding-top: 12px;
    padding-left: 14px;
}

.button {
    background-color: #46A358;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    border: none;
    width: 300px;
    height: 45px;
}

.choice {
    font-size: 13px;
    font-weight: 400;
    color: #3D3D3D;
}

.register-with a {
    font-size: 13px;
    font-weight: 500;
    color: #727272;
    text-decoration: none;
}
/* end_style_for_registration */